
/* fonts */
@font-face {
  font-family: "Poppins";
  src: url("resources/fonts/Poppins/Poppins-Regular.woff") format('woff');
}

@font-face {
  font-family: "Poppins";
  src: url("resources/fonts/Poppins/Poppins-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("resources/fonts/Poppins/Poppins-Italic.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "myfont";
  src: url("resources/fonts/Poppins/Poppins-BoldItalic.woff") format('woff');
  font-style: italic;
  font-weight: bold;
}

body {
       font-family: 'Poppins', Arial, sans-serif;
}
/* end fonts */

.initial-translate {
  transform: translateX(100%);
}

#logo {
  max-width: 8rem;
}

/*
colors are from https://paletton.com/#uid=73m0u0k3V4WaYgf7Lb1ac80gJaQ
also from https://www.canva.com/colors/color-palette-generator/
the canva colors are:

Mystic
#E0EAEC
Firefly
#0E212C
Bright Turquoise
#0FC2CC
Blue Chill
#0F89A0
*/

.bg-body {
  background-color: #151818;
}

.bg-header {
  background-color: #151818 ;
}

.header-font-color {
  color: #A2BABE;
}

.body-font-color {
  color: #96A0A2;
}

@media only screen {
  .top-header {margin-top: 10rem;}
}

@media only screen and (max-width: 760px) {
  .top-header { margin-top: 2rem;}
}

.h1-color {
  color: #0FC2CC;
}

.h2-color {
  color: #0FC2CC;
}
