<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="resources/css/output.css">
  <link rel="stylesheet" href="resources/css/styles.css">
  <link rel="icon" type="image/x-icon" href="resources/images/favicon.ico">
  <!-- this should probably be replaced with a local copy -->
  <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <script src="resources/js/scripts.js" defer></script>
</head>
<body>
  {% include 'header.html' %}
  {% block content %} {% endblock %}
  {% include 'footer.html' %}
</body>
</html>
 
