{% extends 'base.html' %}
{% set active_page = "contact" %}
{% block title %}Contact{% endblock %}
{% block content %}
<main>
  <!-- Contact 01 - A -->
  <section class="section-standard">
    <div class="container-contact">
      <div class="grid-item-contact-01">
        <h2>CONTACT US</h2>
      </div>
      <div class="grid-item-contact-02">
	<p>Thanks for visiting us! We're glad you're here and interested in learning more about Gelectric. Our team is dedicated to advancing innovative technologies that improve patient care and drive medical progress. If you have any questions, need support, or simply want to get in touch, we'd love to hear from you!</p>
	</br>

	<p>Feel free to reach out using the contact information below:</p>
	</br>
        <ul>
          <li><a href="mailto:info@gelectric.co">info@gelectric.co</a></li>
	  </br>
          <li><a href="https://maps.app.goo.gl/ghptRoyvvUuK7TKy5" target="_blank">36 S Charles St #2100, Baltimore, MD 21201</a></li>
        </ul>
      </div>
      <div class="grid-item-contact-03">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2593.4495006315424!2d-76.6180775248863!3d39.28792442356846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c803602a5c3931%3A0x920f354e1fd011ba!2s36%20S%20Charles%20St%2C%20Baltimore%2C%20MD%2021201!5e1!3m2!1sen!2sus!4v1731954351933!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</main>
{% endblock %}
