{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}Gelectric Medical{% endblock %}
{% block content %}
<h1 class="py-10 text-3xl font-bold top-header h2-color">Gelectric Medical</h1>
<p>Our company specializes in an innovative electrical adhesive gel patch "AnastoTape" for internal use. This <b>reversibly adhesive</b> patch adheres securely to internal tissue surfaces, allowing targeted treatment where standard sutures fail. By minimizing risks and reducing recovery time, our adhesive gel patch has the potential to revolutionize internal tissue repairs.
</p>
{% endblock %}
