{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}Gelectric Medical{% endblock %}
{% block content %}
<h1 class="py-10 text-3xl font-bold top-header h2-color">Gelectric Medical</h1>
<p>Our company specializes in an innovative electrical adhesive gel patch. This <b>reversibly adhesive</b> patch adheres securely to tissue surfaces, allowing targeted treatment where standard sutures fail. Through the phenomena of electroadhesion, our adhesive gel patch has the potential to revolutionize tissue repairs.
</p>
<section class="py-16">
  <div class="container mx-auto px-4">

    <div class="flex flex-col md:flex-row justify-center items-center mb-12 py-52">
      <img src="resources/images/liver_patch.png" alt="patch" class="rounded-lg shadow-md mb-8 md:mb-0 md:mr-12 md:w-1/2">
      <div class="md:w-1/2">
        <h2 class="h2-color text-3xl font-bold mb-4">Transforming Surgical Techniques</h2>
        <p class="text-lg">Gelectric Medical's approach is simple yet revolutionary. Our adhesive gel patch provides secure adhesion to tissue surfaces via application of an electric field, enabling targeted treatment in areas where traditional sutures may not suffice. This adhesive properties can be reversed by reversing the polarity of the electrical field</p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center mb-12 py-52 md:flex-row-reverse">
      <img src="resources/images/sutures_v_EA.png" alt="suture v EA" class="rounded-lg shadow-md mb-8 md:mb-0 md:ml-12 md:w-1/2">
      <div class="md:w-1/2">
        <h2 class="h2-color text-3xl font-bold mb-4">Revolutionizing Patient Outcomes</h2>
        <p class="text-lg">Our groundbreaking research has yielded exceptional results, supported by successful animal studies that underscore the efficacy of our electroadhered gel patches. By minimizing risks and reducing recovery time, our innovative technology has the potential to transform surgical procedures and enhance patient outcomes.</p>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center mb-12 py-52">
      <img src="resources/images/doctors_surgery.jpeg" alt="Doctor" class="rounded-lg shadow-md mb-8 md:mb-0 md:mr-12 md:w-1/2">
      <div class="md:w-1/2">
        <h2 class="h2-color text-3xl font-bold mb-4">Reimagining Tissue Repair</h2>
        <p class="text-lg">At Gelectric Medical, we are driven by a passion for advancing the art of surgery. Our research has led to a remarkable discovery in electroadhesion between gels and tissues, presenting a promising alternative to traditional suturing methods.</p>
      </div>
    </div>
    
  </div>
</section>
{% endblock %}
