{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}Gelectric Medical{% endblock %}
{% block content %}
<h1 class="text-3xl font-bold top-header h2-color">Gelectric Medical</h1>
<p>Our company specializes in an innovative electrical adhesive gel patch for internal use. This <b>reversible patch</b> adheres securely to internal tissue surfaces, allowing targeted treatment where <b>standard sutures are difficult to use</b>. By minimizing risks and reducing recovery time, our adhesive gel patch has the potential to revolutionize internal therapies..</p>

{% endblock %}
