{% extends 'base.html' %}
{% set active_page = "news" %}
{% set news_articles = [
{
'title': 'Leah K. Borden Showcases Groundbreaking AnastoTape Electroadhesion Gel Product at National Academy of Inventors',
'date' : 'Jun 26th, 2023',
'content_file': 'news_articles/Jun-26-2023-NAI.html'
} ] %}
{% block title %}News{% endblock %}
{% block content %}
<h1 class="py-10 text-3xl font-bold top-header h2-color">News</h1>
{% for article in news_articles|sort(attribute='date') %}
  {% include 'news_article.html' %}
{% endfor %}



{% endblock %}
