{% extends 'base.html' %}
{% set active_page = "news" %}
{% set news_articles = [
{
'title': 'Leah Klein Borden Showcases Groundbreaking AnastoTape Electroadhesion Gel Product at National Academy of Inventors Annual Meeting',
'href':'https://academyofinventors.org/annual-meeting-program-2023/',
'date' : 'Jun 2023',
'content_file': 'news_articles/Jun-26-2023-NAI.html'
},
{
'title': 'Gelectric Medical Inc. Awarded TEDCO Maryland Innovation Initiative (MII) Phase II Grant',
'href':'https://www.tedcomd.com/news-events/press-releases/2024/tedcos-maryland-innovation-initiative-mii-announces-recent',
'date' : 'Mar 2024',
'content_file': 'news_articles/Mar-4-2024-MII-PII.html'
}
] %}
{% block title %}News{% endblock %}
{% block content %}
<main>
  {% for article in news_articles|sort(attribute='date') %}
  {% include 'news_article.html' %}
  {% endfor %}
</main>
{% endblock %}
