<section class="section-standard">
  <div class="container-research">
    <div class="grid-item-research-01">
      <h2>{{ article.title }}</h2>
    </div>
    <div class="grid-item-research-02" style="background-image: url('{{ article.image }}'); height: {{ article.image_height }};"></div>
    <div class="grid-item-research-03" style="{% if article.grid_row %} grid-row: {{ article.grid_row }}; {% endif %} {% if article.grid_column %} grid-column: {{ article.grid_column }}; {% endif %}">
      {{ article.abstract | safe }}
      <br>
      <a href="{{article.href}}" target="_blank">Read Article</a>
    </div>
    <div class="grid-item-research--04">
    </div>
  </div>
</section>
