{% extends 'base.html' %}
{% set active_page = "products" %}
{% block title %}Products{% endblock %}
{% block content %}
<main>
  <!-- PRODUCTS PAGE - SECTION 01 - Electroadhesive Gel Patch -->
  <section class="section-standard">
    <div class="container-products-electro">
      <div class="grid-item-products-electro-01">
        <h1><span class="font-black">AnastoTape:</span> <span class="font-light">Electroadhesive Gel Patch</span></h1>
      </div>
      <div class="grid-item-products-electro-02"></div>
      <div class="grid-item-products-electro-03">
	<p>Gelectric Medical's approach is simple yet revolutionary. Our adhesive gel patch securely bonds to tissue surfaces via application of an electric field, enabling precise treatment in areas where traditional sutures may not suffice. The adhesive properties can be easily reversed by altering the polarity of the electrical field.</p>
      </div>
    </div>
  </section>
  <!-- PRODUCTS SECTION 02 - Revolutionizing patients outcomes -->
  <section class="section-standard">
    <div class="container-products-revolution">
      <div class="grid-item-products-revolution-01">
        <h2>REVOLUTIONIZING PATIENT OUTCOMES</h2>
      </div>
      <div class="grid-item-products-revolution-02">
	<p>Our groundbreaking research has yielded exceptional results, supported by successful animal studies that underscore the efficacy of our electroadhered gel patches. We anticipate that AnastoTape's technological framework will significantly reduce surgical complications, particularly in high-risk patient populations, by enabling rapid and reliable primary closure of soft tissues in need of repair.
	</p>
      </div>
      <div class="grid-item-products-revolution-03"></div>
    </div>
  </section>
  <!-- PRODUCTS SECTION 03 - Reimagining Tissue Repair -->
  <section class="section-standard">
    <div class="container-products-reimagining">
      <div class="grid-item-products-reimagining-01">
        <h2>REIMAGINING TISSUE REPAIR</h2>
      </div>
      <div class="grid-item-products-reimagining-02"></div>
      <div class="grid-item-products-reimagining-03">
        <p>Our research has led to the remarkable discovery of electroadhesion between gels and tissues, offering a promising alternative to traditional tissue closure during anastomosis. Sutures and staples have long been the standard for tissue repair, but it's time to rethink how we treat patients in the operating room. Gelectric is leading this transformation with its innovative polymer gel electroadhesion platform, providing a new blueprint for advanced patient care.
	</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
