{% extends 'base.html' %}
{% set active_page = "products" %}
{% block title %}Products{% endblock %}
{% block content %}
<main>
  <!-- PRODUCTS PAGE - SECTION 01 - Electroadhesive Gel Patch -->
  <section class="section-standard">
    <div class="container-products-electro">
      <div class="grid-item-products-electro-01">
        <h1>ELECTROADHESIVE GEL PATCH</h1>
      </div>
      <div class="grid-item-products-electro-02"></div>
      <div class="grid-item-products-electro-03">
        <p>Gelectric Medical's approach is simple yet revolutionary. Our adhesive gel patch provides secure adhesion to tissue surfaces via application of an electric field, enabling targeted treatment in areas where traditional sutures may not suffice. The adhesive properties can be reversed by changing the polarity of the electrical field. This versatility is a major advance in the field of anastomosis.</p>
      </div>
    </div>
  </section>
  <!-- PRODUCTS SECTION 02 - Revolutionizing patients outcomes -->
  <section class="section-standard">
    <div class="container-products-revolution">
      <div class="grid-item-products-revolution-01">
        <h2>REVOLUTIONIZING PATIENT OUTCOMES</h2>
      </div>
      <div class="grid-item-products-revolution-02">
	<p>Our groundbreaking research has yielded exceptional results, supported by successful animal studies that underscore the efficacy of our electroadhered gel patches. We anticipate that the technological framework provided by AnastoTape will greatly reduce complications from surgery in the highest risk patient populations. This is due to the rapid and reliable primary closure for soft tissues requiring surgical repair.
	</p>
      </div>
      <div class="grid-item-products-revolution-03"></div>
    </div>
  </section>
  <!-- PRODUCTS SECTION 03 - Reimagining Tissue Repair -->
  <section class="section-standard">
    <div class="container-products-reimagining">
      <div class="grid-item-products-reimagining-01">
        <h2>REIMAGINING TISSUE REPAIR</h2>
      </div>
      <div class="grid-item-products-reimagining-02"></div>
      <div class="grid-item-products-reimagining-03">
        <p>Our research has led to a remarkable discovery in electroadhesion between gels and tissues, presenting a promising alternative to traditional suturing methods. Sutures and staples have been the “go-to” approaches for tissue repair for an enormous portion of medical history. It’s time to reimagine better approaches for patient treatment in the operating room, and Gelectric is providing the playbook for reimagination through its novel platform of polymer gel electroadhesion.
	</p>
      </div>
    </div>
  </section>
</main>
{% endblock %}
