{% extends 'base.html' %}
{% set active_page = "team" %}
{% set team = [
{
'photo': 'resources/images/Leah.jpeg',
'name': 'Leah Klein Borden, Ph.D',
'linkedin':'https://www.linkedin.com/in/leah-borden-klein-478b04b0/',
'description': "Leah, a pioneering researcher, revolutionizes biomaterials through her groundbreaking work. Her first-authored paper in Nature Communications unveils the discovery of reversible tissue adhesion using hydrogels. With numerous prestigious awards, Leah's expertise is recognized, making her a trailblazer in the field. She presents at academic conferences, sharing insights and advancements. As a cross-disciplinary collaborator, Leah drives transformative advancements in biomaterial research.",
'linkedin': 'https://www.linkedin.com/in/leah-borden-klein-478b04b0'
},
{
'photo': 'resources/images/Matt.jpeg',
'name': 'Matthew Dowling, Ph.D',
'linkedin':'https://www.linkedin.com/in/matthew-dowling-24559410/',
'description':"Matt is an accomplished innovator and founder. With a background in bioengineering and chemical engineering, Matt co-created gel-e, an innovative biomaterial platform. His leadership at Medcura has secured $6.0 million in grants, resulting in 5 FDA clearances, 8 patents, and numerous high-impact publications. Matt's groundbreaking work has been featured on international media outlets, cementing his reputation as an industry trailblazer.",
'linkedin': 'https://www.linkedin.com/in/matthew-dowling-24559410'},
{
'photo': 'resources/images/James.png',
'name': 'James Borden, Ph.D',
'linkedin':'https://www.linkedin.com/in/james-michael-borden/',
'description': 'James has a proven track record in startups, expertise in biophysics, and mastery of biotech software development. With a deep understanding of the intricacies of both the business and scientific realms, James possesses a remarkable ability to bridge the gap between the two. With a proven track record in startups, James brings invaluable experience and a sharp entrepreneurial mindset to the table.',
'linkedin': 'https://www.linkedin.com/in/james-michael-borden'
}
] %}
{% set advisors = [
{
"name": "Lou Lieto, Ph.D",
"affiliation": "Wilson, Sonsini, Goodrich and Rosati",
"affiliation_link":"https://www.wsgr.com/en/people/lou-lieto.html",
"role": "Patent Attorney",
"photo": 'resources/images/lou.jpeg',
"linkedin": 'https://www.linkedin.com/in/srinivasa-srini-raghavan-4b673110/',
"description":"Dr. Lou Lieto is a Partner in the patents and innovations practice at Wilson Sonsini Goodrich & Rosati. Lou focuses on patent prosecution, licensing, strategic patent counseling, mergers & acquisitions, capital markets, global generics, and IP due diligence in a variety of fields, including biologics, pharmaceuticals,nutraceuticals, clean energy, diagnostics, embryonic stem cells, medical devices, transgenic animals, and gene therapy. Lou received his J.D. from the George Washington University Law School and his Ph.D. from the University of Kentucky.",
},
{
"name": "Srinivasa R. Raghavan, Ph.D",
"affiliation": "University of Maryland, College Park",
"affiliation_link":"https://complexfluids.umd.edu",
"role": "Scientific Collaborator",
"photo": 'resources/images/Srini.jpeg',
"linkedin": 'https://www.linkedin.com/in/srinivasa-srini-raghavan-4b673110/',
"description": "Dr. Srinivasa Raghavan is a Scientific Collaborator wtih Gelectric. He is Full Professor in the Department of Chemical and Biomolecular Engineering at UMD. He is the principal investigator of the Complex Fluids and Nanomaterials Laboratory. He has authored over 100 technical papers in peer reviewed journals and is a recipient of a 2004 NSF Career Award for his work in self-assembled stimuli-responsive nanomaterials. He was the winner of the 2010 E. Robert Kent Outstanding Teaching Award from the Clark School of Engineering at UMD."
},
{
"name": "Mayur Narayan, MD, MBA",
"affiliation": "Rutgers University",
"affiliation_link": "https://rwjms.rutgers.edu/people/mayur-narayan",
"role": "Medical Advisor",
"photo": 'resources/images/Mayur.jpeg',
"linkedin": 'https://www.linkedin.com/in/mayur-narayan-md-mph-mba-mhpe-facs-fccm-fics-fact-faim-mamse-661a709/',
"description": "Dr. Mayur Narayan is Chair of Surgery at RJW Barnabas Health in New Brunswick, NJ. He is a high-volume anastomosis surgeon, and is considered a clinical thought leader in the space. He has authored over 50 technical papers in peer reviewed journals, with over 500 citations and was one of the pioneers in the development of the fibrin sealant bandage during his time as a US Army doctor. Mayur is also an MBA with Board Advisement experience at innovative, established medical device companies, such as Z-Medica and Medcura."
},
{
"name": "Tricia Kontoudis",
"affiliation": "",
"affiliation_link":"https://www.bizapedia.com/md/kontoudis-regulatory-consulting-llc.html",
"role": "Regulatory Advisor",
"photo": 'resources/images/Tricia.jpeg',
"linkedin": 'https://www.linkedin.com/in/tricia-kontoudis-4481731a/',
"description": "Tricia has worked in medical devices (both Class II and Class III), regulatory affairs, and manufacturing for more than 15 years. She was at MCRA, which is one of the top medical device regulatory advisement firms in the US. Patricia routinely assists clients in the preparation of regulatory submissions, including premarket notifications, premarket approval applications, investigational device exemption submissions, investigational new drug applications, and biologics license applications. She also assists in the review of validation protocols, standard operating procedures, QSR compliance documentation, supplier audits, and facility audits."
}
] %}
{% block title %}About Us{% endblock %}
{% block content %}
 <main>
    <!-- ABOUT US SECTION 01 - Our Company -->
    <section class="section-standard">
        <div class="container-about-about-us">
            <div class="grid-item-about-about-01">
                <h1>GELECTRIC MEDICAL</h1>
            </div>
            <div class="grid-item-about-about-02">
                <p>Our company specializes in an innovative electrical adhesive gel patch.  This reversibly adhesive patch adheres securely to tissue surfaces, allowing targeted treatment where standard sutures fail. Through the phenomena of electroadhesion, our adhesive gel patch has the potential to revolutionize tissue repairs.</p>
            </div>
            <div class="grid-item-about-about-03"></div>
        </div>
    </section>
    <!-- ABOUT US SECTION 02 - Transforming -->
        <section class="section-standard">
            <div class="container-about-transforming">
            <div class="grid-item-about-transform-01">
                <h2>TRANSFORMING SURGICAL TECHNIQUES</h2>  
            </div>
            <div class="grid-item-about-transform-02">
                <p>Gelectric Medical's approach is simple yet revolutionary. Our adhesive gel patch provides secure adhesion to tissue surfaces via application of an electric field, enabling targeted treatment in areas where traditional sutures may not suffice. The adhesive properties can be reversed by changing the polarity of the electrical field.</p>
            </div>
            <div class="grid-item-about-transform-03"></div>
            </div>
        </section>
    <!-- ABOUT US SECTION 03 - Founders Paragraph -->
	<section id="founders-paragraph"> 
          <p id="founders">FOUNDERS</p>
	</section>
	{% for team_member in team %}
	  {% include 'team_member.html' %}
	{% endfor %}
	<!-- ABOUT US SECTION 07 - Section Advisors title  -->
	<section id="founders-paragraph">
          <p id="advisors">ADVISORS</p>
	</section>
	{% for advisor in advisors %}
	  {% include 'advisor.html' %}
	{% endfor %}
</div>
</main>
{% endblock %}
